.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
}

.left,
.right {
  margin-top: 8rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 80%;
}

.right {
  width: 80%;
  align-self: start;
  border-radius: 1rem;
}
